*{
    margin: 0;
    padding: 0;
  }

  body{
    background-color: lightgray;
    color: black;
    font-family: "Poppins", sans-serif;
  }
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(4, 4, 114);
  }
  nav ul{
    display: flex;
    justify-content: center;
  }
  nav ul li{
    list-style: none;
    margin: 0 25px;
  }
  .left{
    font-size: 1.5rem;
  }
  .firstsection{
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
  }
  .firstsection div{
    width: 30%;
    margin: 100px 0;
  }

  .leftsection p{
    text-align: justify;
  }
  .rightsection img {
    width: 100%;
    margin: 30px 0;
  }